body{
    background-color: plum;
}
#convert{
    margin-top: 10px;
    background-color: purple;
    border: 1px solid black;
    border-radius: 6px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: cursive;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
#Clear{
    margin-top: 10px;
    background-color: green ;
    border: 1px solid black;
    border-radius: 6px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: cursive;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}
#convert:hover{
background-color: pink;
color: black;
}
#Clear:hover{
background-color:greenyellow;
color: black;
}
h1{
    margin-top: 10%;
    font-family: cursive;
    color: black;
}

input{
    display: block;
    padding: 20px;
    margin: 20px;
    margin-top: 10px;
    font-size: 1rem;
    color: black;
}